body, html{
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato",
  sans-serif;
  color: #777;
  background-color: black;
}

.content{
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
}

.background {
  position: fixed;
  height: 100%;
  width: auto;
  /* non selectable background */
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-animation: fadein 5s;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s;
  /* Firefox < 16 */
  -ms-animation: fadein 5s;
  /* Internet Explorer */
  -o-animation: fadein 5s;
  /* Opera < 12.1 */
  animation: fadein 5s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}